<!DOCTYPE html>
<html lang="es" dir="ltr">
<head>

	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="author" content="Fiorentino, Kevin Emanuel" />
	<meta name="description" content="Web desarrollada para obtener el título de grado de Licenciado en Sistema" />
	
	<title>Trabajo Final - Fiorentino</title>

	<link rel="stylesheet" href="public/css/bootstrap-v4.0.0.css">
	<link rel="stylesheet" type="text/css" href="public/css/style.css">

	<script src="public/js/angularjs/angularjs-v1.7.9.js"></script>
	

</head>
<body ng-app="climaApp">

	<header>
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
					<div class="img-container img-v img-h">
						<img class="img-responsive logo-unla" src="public/images/logo_unla.png">
						<img class="img-responsive logo-angularjs" src="public/images/logo_angularjs.png">
					</div>
				</div>
				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
					<div class="header-tfi">
						<p>Trabajo Final Integrador</p>
						<p>Fiorentino, Kevin Emanuel</p>
					</div>
				</div>
			</div>
		</div>
	</header>

	<main ng-controller="climaCtrl">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h1>App pronóstico del tiempo - AngularJS v1.7.9</h1>
					<h3>Pronóstico para hoy</h3>	
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
					<div id="form-pronostico">
						<input class="form-control input-angularjs" type="text" name="buscarCiudad" ng-model="buscarCiudad" placeholder="Ingrese una ciudad">
						<button ng-click="pronosticoCiudad()" class="btn btn-success btn-angularjs">Consultar</button>
						<div class="error-ciudad">
							<p>{{ error }}</p>
						</div>					
					</div>
				</div>

				<div class="offset-lg-1 offset-md-1 offset-sm-1 offset-xs-1"></div>

				<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
					<div class="row">

						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">

							<pronostico-hoy
								descrip="{{ descrip }}"
								icon="{{ icon }}"
								temp="{{ temp }}"
								city="{{ city }}"
							></pronostico-hoy>
	
						</div>

						<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">

							<pronostico-info
								min="{{ temp_min }}"
								max="{{ temp_max }}"
								press="{{ press }}"
								hum="{{ hum }}"
								vis="{{ vis }}"
								wind="{{ wind }}"
								sunrise="{{ sunrise }}"
								sunset="{{ sunset }}"
								fecha="{{ fecha }}"
							></pronostico-info>

						</div>

					</div>
				</div>
			</div>

			<hr class="hr">

		</div>

		

		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h3>Pronóstico ciudades del mundo</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

					<table class="table table-hover-angularjs">
					  <thead>
					    <tr class="col-name">
					      <th scope="col">Ciudad</th>
					      <th scope="col">Actual</th>
					      <th scope="col">Max°/Min°</th>
					      <th scope="col">Humedad</th>
					    </tr>
					  </thead>
					  <tbody>

				  		<tr ng-repeat="ciudad in ciudades" id="{{ ciudad.id }}">
					      <th scope="row">{{ ciudad.city }}</th>
					      <td class="img-cont-ciudad img-v img-h-ciudad">
					      	<span>{{ ciudad.temp }}°</span>
					      	<img class="img-ciudad" ng-src="{{ ciudad.icon }}">
					      </td>
					      <td>{{ ciudad.temp_min }}°/{{ ciudad.temp_max }}°</td>
					      <td>{{ ciudad.hum }}%</td>
					      <td>
					      	<button ng-click="removeCity(event, ciudad.id)" class="button-del">
					      		<img src="public/images/icons/delete.svg">
					      	</button>
					  	  </td>
					    </tr>

					  </tbody>
					</table>

				</div>
			</div>
			<div class="row">
				<div class="container">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
						<div id="form-pronostico">
							<h3>Agregar ciudad a la lista</h3>	
							<input class="form-control input-angularjs" type="text" name="addCiudad" ng-model="addCiudad" placeholder="Ingrese una ciudad">
							<button ng-click="addCity()" class="btn btn-success btn-angularjs">Consultar</button>
							<div class="error-ciudad">
								<p>{{ errorAdd }}</p>
							</div>					
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
					<div class="footer-text-left">
						<p>Web desarrollada para obtener el título de grado de Licenciado en Sistema</p>
						<p>
							<strong>Autor:</strong> Fiorentino, Kevin Emanuel &nbsp;
							<a href="https://github.com/KevinFiorentino/web-tfi" target="_blank">
								<img width="24" src="public/images/icons/github-icon.png">
							</a>
						</p>
						<p><strong>Tutor:</strong> Amatriain, Hernan Guillermo - Loidi, Laura</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
					<div class="footer-text-right">
						<p>
							<a href="http://www.unla.edu.ar/" target="_blank">Universidad Nacional de Lanús ❯</a>
						</p>
						<p></p>
						<p>2020</p>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<script src="public/js/angularjs/angularjs-script.js"></script>

</body>
</html>